.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-image: url('/images/profile_bg.png');
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
}
.profileInner {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 1000px;
  width: 100%;
  position: relative;
  padding: 60px;
}
.profileInner:after {
  position: absolute;
  top: 8px;
  left: 8px;
  content: '';
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border: 1px solid #000;
  pointer-events: none;
}
.profileTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.profileText {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  order: 2;
  width: 50%;
}
.profileName {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.profileDescription {
  font-size: 18px;
  line-height: 1.6;
}
.profileImage {
  order: 1;
  max-width: 100%;
  height: auto;
  width: 45%;
}

.profileContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  gap: 5%;
}
.profileSns {
  display: flex;
  padding: 0;
}
.profileSnsItem {
  position: relative;
  margin-top: 20px;
}
.profileSnsItem:not(:last-child) {
  margin-right: 16px;
  padding-right: 16px;
}
.profileSnsItem:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: gray;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.profileSnsItem a {
  text-decoration: none;
  color: gray;
  font-size: 16px;
  line-height: 1;
}
.profileSnsItem a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .profileText {
    width: 100%;
  }
  .profileImage {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
  .profileContent {
    max-width: 100%;
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 480px) {
  .profileInner {
    padding: 30px;
  }
}
