.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cba2ca;
  padding: 40px 20px;
}
.profileInner {
  max-width: 1000px;
  width: 100%;
  position: relative;
}

.profileTitle {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.profileText {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  order: 2;
  width: 50%;
  color: #fff;
}
.profileName {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
.profileDescription {
  font-size: 20px;
  line-height: 1.6;
}
.profileImage {
  width: 45%;
  order: 1;
  max-width: 100%;
}
.profileImage img {
  width: 100%%;
  height: auto;
}

.profileContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  gap: 5%;
}
.profileSns {
  display: flex;
  padding: 0;
}
.profileSnsItem {
  position: relative;
  margin-top: 20px;
}
.profileSnsItem:not(:last-child) {
  margin-right: 16px;
  padding-right: 16px;
}
.profileSnsItem:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.profileSnsItem a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  line-height: 1;
  color: #fff;
}
.profileSnsItem a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .profileText {
    width: 100%;
    max-width: 300px;
    padding: 12px;
  }
  .profileImage {
    width: 100%;
    max-width: 300px;
  }
  .profileImage img {
    width: 100%;
    height: auto;
  }
  .profileContent {
    max-width: 100%;
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 480px) {
  .profileInner {
    padding: 30px;
  }
}
