.hero {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 420px;
}
.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  padding: 0 16px;
  width: 100%;
  max-width: 800px;
}
.heroTitle {
  color: white;
  font-size: 50px;
  margin-bottom: 16px;
}
.heroDescription {
  color: white;
  font-size: 18px;
}
.strong {
  font-size: 80px;
}
.heroImage {
  pointer-events: none;
  height: 100%;
}
.heroImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 480px) {
  .hero {
    height: 320px;
  }
  .heroDescription {
    text-align: left;
  }
}
