.hero {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 460px;
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  padding: 0 16px;
  width: 100%;
  max-width: 1140px;
}
.heroTitle {
  color: white;
  font-size: 50px;
  margin-bottom: 16px;
}
.heroDescription {
  color: white;
  font-size: 18px;
}
.strong {
  font-size: 80px;
}
.heroImage {
  pointer-events: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.heroImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
}
@media (max-width: 1040px) {
  .heroTitle {
    font-size: 42px;
  }
  .strong {
    font-size: 68px;
  }
}
@media (max-width: 768px) {
  .heroTitle {
    font-size: 34px;
  }
  .strong {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 380px;
  }
  .heroTitle {
    font-size: 30px;
  }
  .strong {
    font-size: 56px;
  }
}
