.cardItem {
  border: solid 1px #000;
  overflow: hidden;
}

.cardItemDate {
  font-size: 14px;
  color: #999;
}

.cardItemTitle {
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  min-height: 60px;
  color: #000;
}
.cardItemContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  color: #000;
  height: 100%;
  position: relative;
}
.categories {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.category {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
.cardItem:hover {
  outline: 3px double #000;
  outline-offset: -3px;
}
.cardItemSummary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
