.cardItemDate {
  font-size: 14px;
  color: gray;
}
.cardItemImageWrap {
  position: relative;
  height: 180px;
  overflow: hidden;
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardItemTitle {
  position: absolute;
  padding: 0 16px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: #fff;
}
.cardItemImage {
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.6);
}
.cardItemDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.cardItemContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  color: #666;
}
.cardItem:hover .cardItemDate,
.cardItem:hover .cardItemContent {
  color: #b666d2;
  cursor: pointer;
  transition: color 0.3s ease;
}
