.cardItem {
  background: rgb(255, 255, 255, 0.3);
  border: solid 1px #eadcf4;
  border-radius: 8px;
  overflow: hidden;
}

.cardItemDate {
  font-size: 14px;
  color: #999;
}
.cardItemImageWrap {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.cardItemTitle {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  color: #666;
}
.cardItemImage {
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.cardItemContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  color: #666;
}
