.main {
  background: var(--color-bg);
  height: 100%;
  overflow: scroll;
  padding-block: 70px;
  max-width: 1200px;
  margin: 0 auto;
  width: 94%;
}

@media (max-width: 768px) {
  .main {
    padding-block: 40px;
  }
}
@media (max-width: 480px) {
  .main {
    padding-block: 20px;
  }
}
