@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #ccc;
  color: #333;
  position: relative;
  font-family: 'Sawarabi Gothic', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
