@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
  font-family: 'Yomogi', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f5fa;
  color: #666;
  position: relative;
  padding-bottom: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
