.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.navigationItem {
  list-style: none;
  font-size: 20px;
}
.navigationItem a {
  text-decoration: none;
  color: #fff;
}
.navigationItem a:hover {
  text-decoration: underline;
}