@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
.header {
  width: 100%;
  z-index: 1000;
  padding: 20px;
  border-bottom: solid 3px #000;
  font-family: 'Yomogi', cursive;
  margin-bottom: 60px;
}
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}
